/*Cal manipulñar aixi el body perquè no quedi espai en blanc sota el footer en fer zoom out o en pantalles grans*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header - contenido - footer */
    min-height: 100vh;
    margin: 0;
}



/*definimos el contenedor: fondo y el grid que lo compone */
#PIfondoTickets {
    /*Posem flex i align items center per aconseguir 
    que el formulari de contacte estigui centrat en els zooms*/
    display: grid; 
    place-items: center;
}

/*L'envoltori del filtre per productes*/
#PIfondoTickets > section:nth-child(2) {
    display: grid;
    place-items: center;
    border: 1px dashed grey;
    padding: 2em;
    border-radius: 1em;
}

/*******************************************/
/*INICI IMATGE OBRER BORRAR QUAN ACABAT*/
/*******************************************/


/*EDITO EL CONTENIDOR DE LA IMATGE DE L'OBRER*/
#PIfondoTickets > section:last-child {
    display: grid;
    place-items: center;
}

/*EDITO AMPLADA IMATGE OBRER*/
#PIfondoTickets > section:last-child img {
    width: 15em;
}



/*******************************************/
/*FINAL IMATGE D'OBRER, BORRAR QUAN ACABAT*/
/*******************************************/

/*FI CENTRO IMATGE OBRER*/


/*COPIO ESTILS DE LTITOL I SUBTITOL DEL DASHBOARD PER*/
.titulo {font-size: 2.1rem; margin-top: 1rem;}     
.subtitolSalutacio {font-size: 1.7rem; }

/*Poso padding sota del text que encapçala el select*/
#PIfondoTickets > section:nth-child(2) > label {
    margin-bottom: 1em;
}

#selectProductes {
    padding: .5em;
    border-radius: .3em;
}