/*Cal manipulñar aixi el body perquè no quedi espai en blanc sota el footer en fer zoom out o en pantalles grans*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header - contenido - footer */
    min-height: 100vh;
    margin: 0;
}



/*definimos el contenedor: fondo y el grid que lo compone */
#PIfondoTickets {
    /*Posem flex i align items center per aconseguir 
    que el formulari de contacte estigui centrat en els zooms*/
    display: grid; 
    place-items: center;
    grid-template-columns: 1fr 1fr; /*fem que cercador estigui a l'esquerra i els tickets a la dreta*/
}

/*L'envoltori del filtre per productes*/
#PIfondoTickets > section:nth-child(1) {
    display: grid;
    place-items: center;
    border: 1px dashed grey;
    padding: 2em;
    border-radius: 1em;
}

/*******************************************/
/*INICI IMATGE OBRER BORRAR QUAN ACABAT*/
/*******************************************/


/*EDITO EL CONTENIDOR DEL GRID DE 
CONSULTA DE TICKETS (va a l'esquerra en vista escriptori)*/
#PIfondoTickets > section:first-child {
    padding-top: 1em;
    padding-bottom: 1em;
}

/*EL CONTENEDOR QUE TÉ LES CARDS (va a la dreta en vista d'escriptori)*/
#PIfondoTickets > section:nth-child(2) {
    height: 70vh;
    overflow-y: auto; /*treu l'scroll si no cal. El posa si cal. per aixo auto.*/
    display: grid;
    margin: 2em 0em;
}

/*L'ESTIL QUE POSEM A LES CARDS*/
#PIfondoTickets > section:nth-child(2) > section > .carta {
    border: 1px solid black;
    width: 24em;
    aspect-ratio: 1.618;
    border-radius: 1em;
    border-width: 0em;
    margin-bottom: 1em; /*ESpai entre cada card i la següent, i la última i el que va per sota*/
    background: linear-gradient(82deg, #C8E4AB 0%, #547867 75%);
    color: white;
}




/*ample destinat a cada columna de la card (30% a la imatge,
 40% al text i el percentatge restant l'ocuparé amb un relatiu,
  per la lupa i l'icono de drop down*/
.carta > section:first-child {
    display: grid;
    grid-template-columns: 30% 60%; /*no suma 100 per cent perque vull evitar que adreça sauper s'apropi mass al borde dret de la card*/
}
/*-----------------------------*/
/*PART DE LES CARDS QUE TÉ GRID*/
/*-----------------------------*/

.carta > section:first-child > :nth-child(odd) {
    justify-self: center; /* izquierda */
}

/*Segona colu,na del grid de la card queda centrada verticalment
(elements posicions 2,4,6...)*/
.carta > section:first-child > :nth-child(even) {
    align-self: center;  /* centrado vertical */
}

.carta img {
    width: 3.3em; /*tamany de cada image icono en la card*/
    padding-top: .3em;/*espai entre cada imatge*/ 
}

/*-----------------------------*/
/*FI PART DE LES CARDS QUE TÉ GRID*/
/*-----------------------------*/


/*----------------------------------------------------------------*/
/*INICI PART DE LES CARDS QUE NO TE GRID (LUPA I DROPDOWN ACORDEO)*/
/*----------------------------------------------------------------*/

.carta > section:nth-child(2) {
    height: 0; /*el seciton que conte les imatges no ha de tenir altura si no reventa la card!*/
}

.carta > section:nth-child(2) > img:first-child { /*la lupa*/
    position: relative;
    bottom: 14em;
    left: 20em;
}

.carta > section:nth-child(2) > img:nth-child(2) { /*la lupa*/
    position: relative;
    bottom: 4em;
    left: 16.3em;
}

/*----------------------------------------------------------------*/
/*FINAL PART DE LES CARDS QUE NO TE GRID (LUPA I DROPDOWN ACORDEO)*/
/*----------------------------------------------------------------*/



/*---------------------------------------------------------------*/
/*SISTEMA DE BLURS AL TOP I AL BOTTOM DE LA SECTION DE LES CARDS*/
/*---------------------------------------------------------------*/
#blurTopCards {
    position: sticky;
    margin-top: -2.5em; /*poso margin-top MENYS l'altura (aprox) per treure-li l'espai que ocuparia si no*/
    top: 0;             /*amb top 0 l'sticky el pega dalt*/
    height: 3em;
    background: linear-gradient(to bottom, white 0%, transparent 100%);
}

#blurBottomCards {
    position: sticky;
    margin-top: -3.5em; /*poso margin top menos l'altura per treure-li l'espai que ocuparia si no*/          
    bottom: 0;        /*amb bottom 0 l'sticky el pega sota :)*/
    height: 3em; 
    background: linear-gradient(to top, white 0%, transparent 100%);
}
  
/*---------------------------------------------------------------------*/
/*FINAL SISTEMA DE BLURS AL TOP I AL BOTTOM DE LA SECTION DE LES CARDS*/
/*--------------------------------------------------------------------*/



/*COPIO ESTILS DE LTITOL I SUBTITOL DEL DASHBOARD PER*/
.titulo {font-size: 2.1rem; margin-top: .5em; margin-bottom: 1em;}     
.subtitolSalutacio {font-size: 1rem; margin-bottom: 1em;}

#selectProductes {
    padding: .5em;
    border-radius: .4em;
}


/*FEM MEDIA QUERY PERQUÈ ELS TICKETS ES POSIN SOTA DEL BUSCADOR
  EN CONSULTES DE MOBIL QUE ENTRARA QUAN L'AMPLADA SIGUI COM AM AXIM 1000 PIXELS*/

@media (max-width: 1000px) {
    #PIfondoTickets {
        grid-template-columns: 1fr;
    }

    #PIfondoTickets > section:nth-child(1) {
        margin-top: 3em;
    }

}


/*FEM MEDIA QUERY PER A DISPOSITIUS ULTRA AMPLES (com a MÍNIM 1600 píxels d'ample), 
COM PANTALLA D'ORDINADOR 16:9: AIXÍ EL QUE ACONSEGIREM ÉS QUE ES POSI GRID DE 
DUES COLUMNES EN LA VISTA DELS TICKETS CERCATS APROFITANT MÉS L'AMPLADA DISPONIBLE*/

@media (min-width: 1600px) {
    #PIfondoTickets > section:nth-child(2) > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
}