/*Cal manipulñar aixi el body perquè no quedi espai en blanc sota el footer en fer zoom out o en pantalles grans*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header - contenido - footer */
    min-height: 100vh;
    margin: 0;
}



/*definimos el contenedor: fondo y el grid que lo compone */
#PIfondoTickets {
    /*Posem flex i align items center per aconseguir 
    que el formulari de contacte estigui centrat en els zooms*/
    display: grid; 
    place-items: center;
    grid-template-columns: 1fr 1fr; /*fem que cercador estigui a l'esquerra i els tickets a la dreta*/
}

/*L'envoltori del filtre per productes*/
#PIfondoTickets > section:nth-child(1) {
    display: grid;
    place-items: center;
    border: 1px dashed grey;
    padding: 2em;
    border-radius: 1em;
}

/*******************************************/
/*INICI IMATGE OBRER BORRAR QUAN ACABAT*/
/*******************************************/


/*EDITO EL CONTENIDOR DEL GRID DE CONSULTA DE TICKETS (va a l'esquerra en vista escriptri)*/
#PIfondoTickets > section:nth-child(1) {
    padding-top: 1em;
    padding-bottom: 1em;
}

/*EL CONTENEDOR QUE TE LES CARDS (va a la dreta en vist d'escriptori)*/
#PIfondoTickets > section:nth-child(2) {
    height: 100vh;
    overflow-y: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*TOTES LES CARDS*/
#PIfondoTickets > section:nth-child(2) > section {
    border: 1px solid black;
    width: 28em;
    aspect-ratio: 1.618;
    border-radius: .5em;
    margin-bottom: 1em; /*ESpai entre cada card i la següent, i la última i el que va per sota*/
}

#PIfondoTickets > section:nth-child(2) > section:first-child {
    margin-top: 1em; /*ESpai entre primera card i part de dalt*/
}

/*******************************************/
/*FINAL IMATGE D'OBRER, BORRAR QUAN ACABAT*/
/*******************************************/

/*FI CENTRO IMATGE OBRER*/


/*COPIO ESTILS DE LTITOL I SUBTITOL DEL DASHBOARD PER*/
.titulo {font-size: 2.1rem; margin-top: .5em; margin-bottom: 1em;}     
.subtitolSalutacio {font-size: 1rem; margin-bottom: 1em;}

/*Poso padding sota del text que encapçala el select*/
#PIfondoTickets > section:nth-child(2) > label {
    margin-bottom: 1em;
}

#selectProductes {
    padding: .5em;
    border-radius: .4em;
}


/*FEM MEDIA QUERY PERQUÈ ELS TICKETS ES POSIN SOTA DEL BUSCADOR*/

@media (max-width: 1000px) {
    #PIfondoTickets {
        grid-template-columns: 1fr;
    }

    #PIfondoTickets > section:nth-child(1) {
        margin-top: 3em;
    }

}