:root {
    --tiempoTransicionEstandar: 0.1s;
    --aumentoTamanyoEstandar: 1.02;
    --colorTitolsPas4: rgba(211, 65, 7, 0.781);
    --iniciGradient: white;
    --fiGradient:#ffd9b6;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(135deg, var(--iniciGradient), var(--fiGradient));
}


#tresPassos {
    max-width: 800px;
    margin: 0 auto;

}

/*Amb grid definim dues columnes, una per a h1 i h2 i l'altra per la imatge*/
#tresPassos > section  {
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*Definim el tamany de les 3 imatges dels 3 passos*/
#tresPassos img {
    width: 15em;
    /*filter: drop-shadow(7px 6px 2px rgba(0, 0, 0, 0.25)); /*Ho deleguem a javascript!*/
    transition: filter var(--tiempoTransicionEstandar) ease-out, 
                transform var(--tiempoTransicionEstandar) ease-out;
}


#tresPassos img:hover {
    /*filter: drop-shadow(7px 10px 2px rgba(0, 0, 0, 0.25));*/ /*Ho deleguem a javascript!*/
    transform: scale(var(--aumentoTamanyoEstandar));
}

/*Fem que el cursor canvii a dit per clicar quan passem per damunt
de la imatge de la descàrrega. Aquesta imatge actuarà com a botó per 
descarregar els tickets!*/
#tresPassos section:first-child  section:nth-child(2) {cursor: pointer;}
#tresPassos section:nth-child(2) section:first-child {cursor: pointer;} /*fem el mateix a la imatge dels adjunts*/


#tresPassos section:first-child section:first-child {padding: 2em;} /*paragraf tikets (paso 1)*/
#tresPassos section:nth-child(2) section:nth-child(2) {padding: 2em;} /*paragraf tikets (paso 1)*/
#tresPassos section:last-child section:first-child {padding: 2em;} /*paragraf relájate (paso 3)*/


footer {
    height: 15em;
    display: flex; /*Centro el contenido del copyright con dispplay flex*/
}


h1 {font-size: 1.8em; padding-bottom: .5em;} /*Titulo (pas1, pas2, pas3)*/
h2 {font-size: 1.3em;} /*Subtítulo (explicación de cada paso)*/

.colorEnfasisTitol {color: var(--colorTitolsPas4);}
.contenidorIconos {margin: 0 auto;} /*centro les imatgtes (els tres iconos*/



/*MEDIA QUERIES (per a disseny responsive)*/
@media (max-width: 700px) {
    #tresPassos > section {
        grid-template-columns: 1fr; /*Pasamos a una sola columna de grid*/
    }  

    /*Invertimos orden de grupo imagen y grupo h1/h2 en paso1 y paso3*/
    #tresPassos > section:first-child section:first-child {grid-row: 2;} /*ponemos la img de iconoDescarrega antes del texto Paso1 (porque con el grid aparecería al reves ya que el orden en el html es alrevés para que apareciese la imagen a la derecha)*/
    #tresPassos > section:last-child section:first-child {grid-row: 2;} /*Idem al caso anterior: pero con la sección de relájate y espera a que guardemos los datos*/

    /*Añadimos línea separadora para la página responsive*/
    #tresPassos > section:first-child, #tresPassos > section:nth-child(2) {border-bottom: 1px dashed black;} 
}