:root {
    --ampleEstandarParagraf: 3.4em; /*L'ample dels textos*/
}

/*FAIG PUJAR EL CONTENIDOR DEL TRIPO DE PRODUCTES PERQUÈ QUEDI 
BÉ EN EL GRADIENT I CENTRO */
#ContenidorTrioProductes > section {
    color: white;
    text-align: center;  
    border-top: 1px solid transparent;
    padding-top: 4em;

    transition: border-top ease-in-out .5s; /*Fem que el border top sigui automatitzat, queda brutal*/
}

#ContenidorTrioProductes > section.visible:first-child {border-top: 1px solid black;} /*INFLALYZER: 'activa amb el intersectionObserver quan passem per sobre*/
#ContenidorTrioProductes > section.visible:nth-child(2) {border-top: 1px solid white;} /*CATEGORYZER: s'activa amb el intersectionObserver quan passem per sobre*/
#ContenidorTrioProductes > section.visible:nth-child(3) {border-top: 1px solid pink;} /*INTERVALYZER: s'activa amb el intersectionObserver quan passem per sobre*/

/*POSICIONAMENT DE INFLALYZER EN RELACIÓ AL GRADIENT
 DE FONS*/
#ContenidorTrioProductes > section:first-child {
    position: relative;
    bottom: 45em;
    
}

/*POSICIONAMENT DE CATEGORYZER EN RELACIÓ AL GRADIENT
 DE FONS*/
#ContenidorTrioProductes > section:nth-child(2) {
    position: relative;
    bottom: 37em; /*altura categoryzer*/
}

/*POSICIONAMENT DE INTERVALYZER EN RELACIÓ AL GRADIENT
 DE FONS*/
#ContenidorTrioProductes > section:nth-child(3) {
    position: relative;
    bottom: 30em;
    
}




/* Contenidor de las imágenes que pujen, mantenen o baixen */
#ContenidorTrioProductes > section:first-child > section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    justify-items: center;
    align-items: center;
    max-width: 1000px;   /* límite de ancho */
    margin: 0 auto;      /* centra el grid en la página */
    
}


/* Defineixo millor imatges ujen mantene baixen Todas las imágenes dentro del contenedor de iconos */
#ContenidorTrioProductes > section:first-child > section:nth-of-type(2) img {
    max-width: 15em;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/*defineixo l'ample pel paragraf petit de sota els tres iconos "hemos usado"*/
#ContenidorTrioProductes > section:first-child > section:nth-of-type(3) {
    padding-left: var(--ampleEstandarParagraf);
    padding-right: var(--ampleEstandarParagraf);
} 

/*DEFINEIXO LIMITS PER A QUE EL TEXT" "lasificamos automáticamente los productos encontrados en tus tickets digitales "
 NO S'EXPANDIEXI MASSA CAP ALS LATERALS*/
#ContenidorTrioProductes > section:nth-child(2) > section:nth-child(2) {
    max-width: 1000px;
    padding-left: var(--ampleEstandarParagraf);
    padding-right: var(--ampleEstandarParagraf);
} 

/*M'asseguro que hi ha un sombrejat en cada titular*/
#ContenidorTrioProductes > section > section > h1 {
    font-style: italic;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.6);
    font-size: 3em;
    padding-bottom: 1em;
}

/*Defineoixo les propietats del text 
"este producto te permite ver cualquiera..."*/
#ContenidorTrioProductes #h2inflalyzer {
    font-size: 1em;
    max-width: 800px;
    padding-left: var(--ampleEstandarParagraf);
    padding-right: var(--ampleEstandarParagraf);

    margin: 0em auto;
    transition: transform .2s ease-in-out;
}

#ContenidorTrioProductes #h2Categoryzer {
    margin: 1.5em auto;
    transition: transform .2s ease-in-out;
}

#h2inflalyzer:hover, #h2Categoryzer:hover{
    transform: scale(1.02);
}



#ContenidorTrioProductes img {
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.6));
    transition: filter .2s ease-in-out, transform .2s ease-in-out;
    
}

#ContenidorTrioProductes img:hover {
    filter: drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.6));
    transform: scale(1.02);
}

.emfasisCarta {
    font-style: italic;
    filter: drop-shadow(1px 1px 0px rgba(20, 20, 20, 0.7));
    color: rgb(242, 242, 242);
    
}

.liniaNova {
    display: block;
}

.verdVue {
    color: var(--colorVerdVue);
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

.blauReact {
    color: var(--PI_colorReact);
    filter: drop-shadow(2px 2px 0px rgba(20, 20, 20, 0.7));
}

.vermellRandom {
    color: red;
    filter: drop-shadow(2px 2px 0px rgba(20, 20, 20, 0.7));
}


/*------------------------------------------------------------------------------*/
/*CATEGORYZER: afecto ELS li dels ULL per posar 3 columne sa lles imatges, centra*/
/*------------------------------------------------------------------------------*/

/*afecto ELS li dels ULL per posar 3 columne sa lles imatges, centra*/
#ContenidorTrioProductes section:nth-child(2) > section:nth-child(3) ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 auto;
    max-width: 50em;   
    color: black;
}

/*poso la transition en cada li (Que s'areciarà en variacio del color del text de negre -invisible- a blanc -visible-)*/
#ContenidorTrioProductes section:nth-child(2) > section:nth-child(3) ul li {
     transition: color .1s ease-in-out;
}

/*el hover en cada li -que conte tant imatges de cada una de les 12 categories com els seus respectius textos descriptius- 
farà que en passar per damunt de l'icono o el text, el text es mostri sobre el fons negre, fins ara ocult 
per la coincidencia de background amb color dels textos associats a les imatges de les 12 categories.*/
#ContenidorTrioProductes section:nth-child(2) > section:nth-child(3) ul li:hover {
    color: white;
}

/*CREATS HOVERS PER A LES IMATGES (TRANSICIO I FILTER INICIAL) */
#ContenidorTrioProductes section:nth-child(2) > section:nth-child(3) ul li img {
    filter: drop-shadow(4px 4px 1px rgba(57, 61, 87, 0.768));
    transition: transform .2s ease-in-out, filter .2s ease-in-out;
}

/*CREATS HOVERS PER A LES IMATGES: DEFINIM INCREMENT DE TAMANY I EL DROP SHADOW A BLANC */
#ContenidorTrioProductes section:nth-child(2) > section:nth-child(3) ul li img:hover {
    transform: scale(1.02);
    filter: drop-shadow(6px 6px 1px  rgba(57, 61, 87, 0.768));
}


/*-----------------------------------------------------------------*/
/*INICI SISTEMA DE FILTRE ROIG COMBINAT AMB intersectionObserver.js*/
/*                    (INTERVALIZER)                               */
/*-----------------------------------------------------------------*/
#ContenidorTrioProductes > section:nth-child(3) {
  position: relative;
  height: 100em; /*altura intervalizer*/
  background: linear-gradient(to bottom, 
              black 0%,
              var(--azulClaroGradiente) 45%, 
              var(--azulClaroGradiente) 55%, 
              black 100%);
  overflow: hidden;
  z-index: 0; /* Capa base */
}

#ContenidorTrioProductes > section:nth-child(3)::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, 
              black 0%,
              var(--rojoClaroGradiente) 45%,
              var(--rojoClaroGradiente) 55%, 
              black 100%);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: -1; /* Importante: va detrás del contenido */
}

#ContenidorTrioProductes > section.visible:nth-child(3)::after {
  opacity: 1;
}

#ContenidorTrioProductes > section:nth-child(3) * {
  position: relative;
  z-index: 1; /* El texto y otros elementos quedan por encima */
}

/*-----------------------------------------------------------------*/
/*FINAL SISTEMA DE FILTRE ROIG COMBINAT AMB intersectionObserver.js*/
/*-----------------------------------------------------------------*/

/*Defineixo una mica de distancia entre les imatges de les categories i 
el paragraf previ de "clasificamos automáticamente los productos..."*/
#ContenidorTrioProductes > section:nth-child(2) > section:nth-child(3) {
    padding-top: 2em;
}


/*MEDIA QUERY PER A MÒBIL*/
@media (max-width: 600px) {

    /*EN LES IMATGES DE PUJEN, MANTENEN BAIXEN (LES POSO A UNA SOLA COLUMNA)*/
    #ContenidorTrioProductes > section:first-child > section:nth-child(2) {
        grid-template-columns: 1fr;
    }

    /*EN LES IMATGES 12 DE ICONOS DE ÀREA QUE EREN ABANS A 3 COLUMNES (3x4) 
      ARA LES POSO EN 2 COLUMNES (2x6)*/
    #ContenidorTrioProductes > section:nth-child(2) > section:nth-child(3) ul {
        grid-template-columns: repeat(2,1fr);
    } 
}

@media (min-width: 1400px) {
     /*EN LES versions de pantalla extra gran les 12 imatges DE ICONOS DE ÀREA 
     QUE EREN ABANS A 3 COLUMNES (3x4) en 4 (4x3)*/
    #ContenidorTrioProductes > section:nth-child(2) > section:nth-child(3) ul {
        grid-template-columns: repeat(4,1fr);
    } 
}
