#gradient {
    background: linear-gradient(to bottom, 
                            var(--blancoGradiente) 0%, 
                            var(--azulClaroGradiente) 50%,
                            var(--azulOscuroGradiente) 100%);
    height: 58em;
}

    
#ContenidorTrioProductes {
    background: linear-gradient(to bottom, 
                        var(--azulOscuroGradiente) 0%, 
                        black 20%);
    
}